# Local
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DATABASE_URL=sqlite:///./chatbot.db
CHROMA_PERSIST_DIRECTORY=./chroma_data
IA_PROVIDER=ollama
OLLAMA_MODEL=llama3.2:1b

# Deploy
# BACKEND_CORS_ORIGINS=https://seu-site.netlify.app
# DATABASE_URL=sqlite:///./storage/chatbot.db
# CHROMA_PERSIST_DIRECTORY=./storage/chroma_data
# IA_PROVIDER=demo
# OLLAMA_HOST=https://seu-servidor-ollama
